@model IEnumerable<CartItemDetailsDto>
@{
    string? message = (string?)ViewBag.Message;
    decimal totalPrice = (decimal?)ViewBag.TotalPrice ?? 0M;
}

<h1>@message</h1>

<div class="row gap-5">
    <div class="col-lg-8">
        <partial name="_CartIndexCardsPartial" model="Model"/>
    </div>
    <div class="col">
        <h1>Your order</h1>
        <h3 class="my-3 p-3">Total price: @totalPrice.ToString("C")</h3>
    </div>

</div>

