@model ProductDetailsDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <partial name="_ProductDetailsDescriptionListItemsPartial" model="Model"/>
    </dl>
</div>
<div>
    <form asp-controller="Cart" asp-action="Create" asp-route-returnPath="/Products/" method="post" class="d-inline-block">
        <input name="@nameof(CartItemCreateDto.ProductId)" asp-for="Id" type="hidden" />
        <input type="submit" value="Add to card" class="btn btn-primary" />
    </form>
    @if (Model.SubmitterId == User.FindFirstValue(ClaimTypes.NameIdentifier))
    {
        <a asp-action="Edit" asp-route-Id="@Model?.Id" class="btn btn-primary">Edit</a>
    }
</div>
