@model IEnumerable<ProductDetailsDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-area="Admin" asp-controller="Products" asp-action="Create">Create New</a>
</p>
<table class="table">
    <partial name="_ProductIndexTableItemsPartial" model="Model" />
</table>
