@using SP_Shopping.Utilities.ImageHandler
@using SP_Shopping.Utilities.ImageHandlerKeys
@model IEnumerable<ProductDetailsDto>
@inject IImageHandlerDefaulting<ProductImageKey> _productImageHandler
@inject IImageHandlerDefaulting<UserProfileImageKey> _userProfileImageHandler

<div class="my-grid">
    @foreach (var product in Model)
    {
        <partial name="_ProductCardPartial" model="product" />
    }
</div>
