@model (string controller, string action, string name)

<search>
    <form asp-controller="@Model.controller" asp-action="@Model.action" method="get" class="d-flex">
        <input type="search" name="@Model.name" placeholder="Search" aria-label="search" class="form-control me-sm-2" required/>
        <button type="submit" class="btn btn-primary my-2 my-sm-0">Search</button>
    </form>
</search>
