@{
    Layout = "_Layout";
}
<!DOCTYPE html>

<ul>
    <li><a asp-area="Admin" asp-controller="Products" asp-action="Index">Products</a></li>
    <li><a asp-area="Admin" asp-controller="Categories" asp-action="Index">Categories</a></li>
    <li><a asp-area="Admin" asp-controller="User" asp-action="Index">Users</a></li>
    <li><a asp-area="Admin" asp-controller="Cart" asp-action="Index">Carts</a></li>
</ul>

@RenderBody()
