@model IEnumerable<CartItemDetailsDto>
@{
    string message = (string)ViewBag.Message;
}

<h1>@message</h1>

<table class="table">
    <partial name="_AdminCartIndexTableItemsPartial" model="Model"/>
</table>
