@{
    Layout = "_SearchLayout";
}

@* https://getbootstrap.com/docs/5.3/examples/cover/ *@
<div class="text-center cover-container d-flex w-100 h-100 p-5 mx-auto flex-column">
  <main class="px-3">
    <h1>Welcome to the admin panel.</h1>
    <p class="lead">You can select one of the tabs above to start.</p>
  </main>
</div>

