html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Generic grid  */
.my-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5em, 15em));
    gap: 0.5em;
    grid-auto-rows: 1fr;
    justify-content: start;
    justify-items: stretch;
}