@using SP_Shopping.Utilities.ImageHandler
@model IEnumerable<ProductDetailsDto>
@inject ProductImageHandler _productImageHandler
@{
    ViewData["Title"] = "Home Page";
    string? UserId = (string?)ViewBag.UserId;
    string? UserName = (string?)ViewBag.UserName;
}

<div class="text-center">
    <h1 class="display-4">Welcome @UserName</h1>
    <p class="align-content-center">@(!string.IsNullOrWhiteSpace(UserId) ? $"{nameof(UserId)} is {UserId}" : "No user is logged in")</p>
    
    <div class="my-4">
        <partial name="_SearchFormPartial" model="@("Products", "Search", "query")"/>
    </div>
    
    <partial name="_ProductsGridPartial" model="Model" /> 
</div>
